.profile {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.profile-info {
    display: flex;
}

.profile-info {
    flex:1;
    margin: 0;
    padding: 0;
}

.profile-info-l {
    flex:1;
    padding: 0;
    margin: 0;
}

.profile-info-r {
    flex:3;
    padding: 0;
    margin: 0;
}

.bio {
    height: 100px;
    overflow-y: scroll;
}